{% set _comment = '#%(post_id)s/%(comment_id)s'|format(post_id=post_id, comment_id=comment_id) %}
{{ _('Comment %s is added.')|format(_comment) }}
https://{{settings.domain}}/{{post_id}}#{{comment_id}}