{% set _post = '#%s'|format(post_id) %}
{% if private %}{{ _('Private post %s is sent')|format(_post) }}{% else %}Post %s is sent')|format(_post) }}{% endif %}
https://{{settings.domain}}/{{post_id}}
