{% set _user = '@%s'|format(login) %}
{% if login %}{{ _('You are unsubscribed from %s\'s tags')|format(_user) }}{% else %}{{ _('You are unsubscribed from tags') }}: 
{% for t in tags %} *{{ t }}{% endfor %}