{% for p in posts %}
{% if p.rec and p.rec.text %}@{{p.rec.author.login}}: {{p.rec.text}}
{% endif %}{% if p.private %}[приватный]{% endif %}@{{p.post.author.login}} {% for t in p.post.tags %}*{{ t }} {% endfor %}
{% if p.post.title %}[{{p.post.title}}]
{% endif %}{% if p.post.text %}{{p.post.text|safe}}
{% endif %}{% if p.post.link %}{{p.post.link}}
{% endif %}{% if p.post.files %}{% for f in p.post.files %}http{{settings.media_root}}/{{f}}
{% endfor %}{% endif %}Комментариев: {{p.post.comments_count()}}
#{{p.post.id}} https://{{settings.domain}}/{{p.post.id}}
{% else %}{% if posts_count %}Постов: {{posts_count}}{% else %}Нет постов{% endif %}
{% endfor %}